#mainservicecontainer{
    margin-top: 135px;
    margin-bottom: 120px;
}
#secondaryserviceconatiner{
    background-color: #f7f7f7;
    overflow: hidden;
}
#secondarybutton{
    border: 1px solid #c8cdce;
    margin-top: 50px;
    line-height: 45px;
}
#secondarybutton a{
    color: #3f4244;
    font-weight: 600;
}
#secondarybutton a:hover{
    color:#00e1ff;
    text-decoration: none;
}
#secondarybutton1{
    line-height: 45px;
    border-top:1px solid #c8cdce;
    border-right:1px solid #c8cdce;
    border-bottom:1px solid #c8cdce;
    margin-top: 50px;
}
#secondarybutton1 a{
    color: #3f4244;
    font-weight: 600;
}
.service-item h4{
    padding: 15px;
}
.service-item hr{
    width: 70px;
    border-color: #00e1ff;
    border-width: 2px;
}
.service-item a{
    text-decoration: none;
    color: #3f4244;
}
#secondarybutton1 a:hover{
    color:#00e1ff;
    text-decoration: none;
}
#phonescontainer{
    margin-bottom: 90px;
    margin-top: 80px;
}
#foralldevices{
    padding-left: 20px;
}
#foralldevices h2{
    font-size: 40px;
    margin-bottom: 40px;
}
#foralldivcesp{
    margin-bottom: 40px;
}
#foralldivcesbtn{
    line-height: 45px;
    width: 170px;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid #00e1ff;
}
#foralldevicesa{
    color: #00e1ff;
    font-weight: 200;
}
#foralldevicesa:hover{
    text-decoration: none;
    font-weight: 600 !important;
}
#mainserv{
    background-color: #f7f7f7;
}
#lightborder1{
    position: relative;
    top: -26px;
    left: 35px;
}
#lightborder2{
    position: relative;
    top: -22px;
    left: 181px;
}
#lightborder3{
    position: relative;
    top: -30px;
    left: -155px;
}
#lightborder4{
    position: relative;
    top: -33px;
    left: 4px;
}