#peoplemaincontainer{
 margin-top: 90px;
 margin-bottom: 90px;
}
#hr {
  border-color: #83BBE9;
  border-width: 3px;
  width: 165px;  
}
#sectionheading{
  font-size: 40px;
}
.team-member{
  background-color: #f7f7f7;
}

#member-info h4{
  color: #00e1ff;
  font-size: 20px;
  background-color: #1c1d1e;
  margin: 0;
  padding-top: 5px;
}
#member-info h5{
  color: #fff;
  font-size: 13px;
  background-color: #1c1d1e;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.single-member p{
  background-color: #f7f7f7;
  padding: 15px;
  margin: 0;
}
#iconcontainer {
  margin-top: -4px;
}
.facebook{
  width: 65px;
  height: 70px;
  background: transparent url('/assets/fbtransparent.png');
}
.facebook:hover{
  background-image: url('/assets/fbcolor.png');
  cursor: pointer;
}
.twitter{
  width: 66px;
  height: 70px;
  background: transparent url('/assets/twtransparent.png');
}
.twitter:hover{
  background-image: url('/assets/twcolor.png');
    cursor: pointer;

}

.googleplus{
  position: relative;
  width: 65px;
  height: 70px;
  background: transparent url('/assets/gplustransparent.png');
}
.googleplus:hover{
  background-image: url('/assets/gpluscolor.png');
    cursor: pointer;

}
.dribble{
  width: 66px;
  height: 70px;
  background: transparent url('/assets/dribtransparent.png');
}
.dribble:hover{
  background-image: url('/assets/dribcolor.png');
    cursor: pointer;

}


