<div class="container" ng-controller="servicesCtrl" id='services'>
    <div class="row text-center" id='mainservicecontainer' ng-switch on="cat">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                            <a href="" ng-click="cat='web'">
                  <img src="./assets/webdesignlogo.png" alt="">
                </span>
                    <h4>
                        <strong>WEB DESIGN</strong>
                    </h4>
                    </a>
                    <hr>
                </div>

            </div>
            <div class="col-md-3 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x"><a href="" ng-click="cat='design'">
                  <img src="./assets/graphdesignlogo.png" alt="">
                </span>
                    <h4>
                        <strong>GRAPHIC DESIGN</strong>
                    </h4>
                    </a>
                    <hr>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x"><a href="" ng-click="cat='programing'">
                  <img src="./assets/programing.png" alt="">
                </span>
                    <h4>
                        <strong>PROGRAMMING</strong>
                    </h4>
                    </a>
                    <hr>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x"><a href="" ng-click="cat='photography'">
                  <img src="./assets/photologo.png" alt="">
                </span>
                    <h4>
                        <strong>PHOTOGRAPHY</strong>
                    </h4>
                    </a>
                    <hr>
                </div>
            </div>
        </div>
        <div ng-switch-when="web">
            <img id='lightborder1' src="/assets/border.png" alt="">
            <div class="container text-center">
                Good Design Is Innovative : The possibilities for innovation are not, by any means, exhausted. Technological development
                is always offering new opportunities for innovative design. But innovative design always develops in tandem
                with innovative technology, and can never be an end in itself. </div>
        </div>
        <div ng-switch-when="design">
            <img id='lightborder2' src="/assets/border2.png" alt="">
            <div class="container text-center">
                Good Design Makes A Product Understandable : It clarifies the product’s structure. Better still, it can make the product
                clearly express its function by making use of the user’s intuition. At best, it is self-explanatory. </div>
        </div>
        <div ng-switch-when="programing">
            <img id='lightborder3' src="/assets/border3.png" alt="">
            <div class="container text-center">
                Good Design Is Honest : It does not make a product more 
                innovative, powerful or valuable than it really is. It does not attempt to manipulate 
                the consumer with promises that cannot be kept           
                </div>
        </div>
        <div ng-switch-when="photography">
            <img id='lightborder4' src="/assets/border4.png" alt="">
            <div class="container text-center">
                Good Design Is as Little Design as Possible : 
                Less, but better – because it concentrates on the essential aspects, and the products are not burdened with non-essentials. 
                Back to purity, back to simplicity.            
                </div>
        </div>

    </div>
</div>
<div>
    <div class='col-md-12' id='mainserv'>
        <div class="container">
            <div class="col-md-6 col-sm-6 text-center" id='secondarybutton'>
                <a href="">START TOUR</a>
            </div>
            <div class="col-md-6 col-sm-6 text-center" id='secondarybutton1'>
                <a href="">FOR ALL DEVICES</a>
            </div>
        </div>
        <div class="container" id='phonescontainer'>
            <div class="col-md-6 col-sm-6 text-center">
                <img src="./assets/phones.png" alt="">
            </div>
            <div class="col-md-6 col-sm-6" id='foralldevices'>
                <h2>Fully Responsive</h2>
                <p id='foralldivcesp'>
                    Eum cu tantas legere complectitur, hinc utamur ea eam. Lorem ipsum dolor sit amet, volumus temporibus definitionem id ius,
                    vel ut magna timeam appareat, movet timeam maiorum an ius. Sea libris dictas lucilius et. Ne cibo urbanitas
                    pri, qui ad populo accusamus. Quod congue ea ius, nisl aperiri sit ut.
                </p>
                <button id='foralldivcesbtn' class='btn btn-lg'>
                    <a href="#" id='foralldevicesa' ng-click="scroll('form-wrapper')">
                        GET NOW
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
</div>