<div ng-controller="portfolioCtrl">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center" id='mainportfoliocontainer'>
           
                <h2 id='sectionheading' class="section-heading">We are the one</h2>
                <hr id='hr' class="primary">
                <p class="text-faded" id='portfolio'>Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire
                    et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.
                </p>
            </div>
        </div>
    </div>
</div>
<div class='container text-center'>
    <div id='menu'>
        <ul class='text-center'>
            <li>
                <button type="submit" ng-click="myFilter=null">ALL</button>
            </li>
            <li>
                <button ng-click="myFilter = {category: 'web'}" type="submit">WEB</button>
            </li>
            <li>
                <button ng-click="myFilter = {category: 'photography'}">PHOTOGRAPY</button>
            </li>
            <li>
                <button ng-click="myFilter = {category: 'design'}">GRAPHIC DESIGN</button>
            </li>
        </ul>
    </div>


</div>
<div class="row" id='photoscontainer'>
    <div class='col-md-2 col-lg-2 col-xs-2 col-xl-2' ng-repeat='i in images | filter:myFilter' id='photos' >
        <a>
            <img class='img-responsive' src="{{i.url}}" alt="" />
        </a>
    </div>
</div>
</div>