#form-wrapper{
    background-color: #131316;
}
#messagecontainer{
    margin-top: 90px;
}
#formhead {
    color: #fff;
    margin-top: 90px;
    margin-bottom: 90px;
}
#buttoncontainer{
    margin-top: 35px;
    margin-bottom: 90px;
}
#input{
    background-color: #131316;
    border-radius: 0;
    border-top: 0;
    color: #fff;
    box-shadow: none;
    font-size: 15px;
    padding-bottom: 23px;
}
#input:hover, #inpit:active , #input:visited, #input:focus{
    border: 1px solid #00e1ff;
    border-top: 0;
    border-color: none;
    box-shadow: none;
}
#input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff;
  font-size: 15px;
  padding-left: 20px;

}
::-moz-placeholder { /* Firefox 19+ */
  color:#fff;
    font-size: 15px;
  padding-left: 20px;

}
:-ms-input-placeholder { /* IE 10+ */
  color:#fff;
  font-size: 15px;
  padding-left: 20px;

}
:-moz-placeholder { /* Firefox 18- */
  color:#fff;
    font-size: 15px;
  padding-left: 20px;
}

#buttoncontainer button{
    background-color: #131316;
    border: 1px solid #00e1ff;
    border-radius: 0;
    line-height: 50px;
    width: 169px;
    font-size: 15px;
}
#buttoncontainer button:hover, #buttoncontainer button:visited, #buttoncontainer button:focus,#buttoncontainer button:active{
    border: 1px solid #fff;
    color: #00e1ff;
    font-size: 16px;
}

#input.ng-touched.ng-invalid{
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
#inputError{
    color: #fff;
    font-size: 12px;
}