<header id='wemake' ng-controller="headerCtrl">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" id='mainlogo' href="#" ng-click="scroll('wemake')"> 
                        <img src="/assets/Logo.png" alt="" >K E T
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right a">
                        <li><a ng-click="scroll('wemake')" id='headlink' href="#home">Home</a></li>
                        <li><a ng-click="scroll('services')" id='headlink' href="#services">Services</a></li>
                        <li><a ng-click="scroll('menu')" id='headlink' href="#portfolio">Portfolio</a></li>
                        <li><a ng-click="scroll('aboutus')" id='headlink' href="#about">About</a></li>
                        <li><a ng-click="scroll('iconcontainer')" id='headlink' href="#news">News</a></li>
                        <li><a ng-click="scroll('form-wrapper')" id='headlink' href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section>
    <div class="container text-center" id='wemakemain'>
        <h2>WE MAKE WEBSITES</h2>
        <p>
            <a id='headerbtn' class="btn btn-lg btn-success" href="#" role="button" ng-click="scroll('portfolio')">START TOUR</a>
        </p>
    </div>
</section>